doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Update Contact
        form(action="/update-cobj", method="post")
            label(for="email") Email
            input(type="email", name="email", id="email")
            label(for="name") Name
            input(type="text", name="firstname", id="firstname")
            input(type="text", name="lastname", id="lastname")
            label(for="phone") Phone
            input(type="text", name="phone", id="phone")
            input(type="submit", value="Update")
        a(href="/") Return to the homepage